---
description: "{{ operation_description }}"
enabled: true
runner_type: "python-script"
entry_point: lib/run_operation.py
name: "{{ operation_snake_case }}"
{{ action_template_params }}
{% for param in operation_parameters %}  {{ param.parameter_name }}:
    type: {{ param.parameter_type }}
    required: {{ param.parameter_required }}
  {%- if param.parameter_description %}
    description: {{ param.parameter_description }}
  {%- endif %}
{% endfor %}
