---
ref: {{ pack }}
name : {{ pack }}
description : st2 content pack containing Amazon Web Services integrations.
keywords:
  - aws
  - amazon web services
  - amazon
  - {{ service }}

version : {{ pack_version }}
author : StackStorm, Inc.
email : info@stackstorm.com
contributors:
  - Andy Moore <andrew.moore@pearson.com>
