---
# Used by the produce action
client_id: testclientID
hosts: 172.16.1.10:9092
# Used for the sensor
message_sensor:
  client_id: testclientID
  group_id: testgroupID
  hosts: 172.16.1.10:9092
  topics:
  - digital_logging_os
  - test
