---
# Used by the produce action
client_id: st2-kafka-producer
hosts: 172.16.1.10:9092
# Used for the kafka sensor
message_sensor:
  client_id: testclientID
  group_id: testgroupID
  hosts: 172.16.1.10:9092
  topics:
  - test
# Used by the gcp kafka sensor
gcp_message_sensor:
  client_id: st2gcpclient
  group_id: st2gcpgroup
  hosts: 172.16.1.10:9092
  topics:
  - gcp_stackdriver_topic
